@import "./base/_fonts.css";
@import "./base/_variables.css";
@import "./base/_page-container.css";
@import "./base/_wrapper.css";

@import "./modules/_switch-2-fields.css";
@import "./modules/_switch-4-fields.css";
@import "./modules/_nav-buttons.css";
@import "./modules/_pet-bio.css";
@import "./modules/_navbar.css";
@import "./modules/_pet-basics-form.css";

/* @import "./stylesheets/_nav.css"; */

body {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  /* font-family: Georgia, Times, "Times New Roman", serif, Helvetica, Arial */
  /* background-color: red; */
  /* background-color: var(--backGrey); */
  background-color: var(--deepGrey);
  /* overflow: hidden; */

  /* margin-top: auto;
  margin-bottom: auto; */
  /* background-color: var(--lightPink); */
}

html {
  /* margin: 0;
  padding: 0; */
  /* background-color: blue; */
  background-color: var(--deepGrey);
  /* overflow: hidden; */
}