.pet-bio__headline {
    /* font-size: 2.2rem; */
    font-family: 'Crimson Pro', serif;
    color: var(--deepGrey);
    text-align: center;
    max-width: 400px;
    margin: 20px auto;    
    padding: 0 16px;
}

.pet-bio__name label, .pet-bio__photo label, .pet-bio__breed label, .pet-bio__birthday label {
    color: var(--deepGrey);
    display: block;
    margin-bottom: 8px;
}

.pet-bio__name input, .pet-bio__photo input, .pet-bio__breed input, .pet-bio__birthday input {
    /* color: var(--deepPink); */
    width: 100%;
}

.pet-bio__name, .pet-bio__photo, .pet-bio__breed, .pet-bio__birthday {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.pet-bio__container {
    max-width: 480px;
    margin: 0 auto 1.5rem;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
        "pet-name"
        "pet-photo"
        "pet-breed"
        "pet-birthday";
    grid-gap: 1.5rem;
}

@media(min-width: 640px) {
    .pet-bio__container {
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: 
          "pet-name pet-photo"
          "pet-breed pet-birthday";
      }
  }

.pet-bio__name {
    grid-area: pet-name;
}

.pet-bio__photo {
    grid-area: pet-photo;
}

.pet-bio__breed {
    grid-area: pet-breed;
}

.pet-bio__birthday {
    grid-area: pet-birthday;
}
