.pet-basics-form {
    background-color: var(--lightPink);
    /* height: auto;
    margin: 0; */
    /* margin: auto; */
    /* height: 100%; */
    /* margin: auto; */
    /* margin-top: auto;
    margin-bottom: auto; */
}