.switch-4-fields {
    width: 220px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto;
}
  
.switch-4-fields label {
    width: 100px;
    text-align: center;
    padding: 5px 0;
    margin: 5px;
    /* display: inline; */
}

.switch-4-fields label:hover {
    cursor: pointer;
}

.switch-4-fields input {
    position: absolute;
    opacity: 0;
}
  
.switch-4-fields input:checked + label {
    background-color: var(--mainPink);
}

.weight-switch-container {
    width: 220px;
    /* margin: auto; */
    margin: 0 auto 1.5rem;
  }

@media(min-width: 640px) {
    .weight-switch-container {
      width: 480px;
    }
    .switch-4-fields {
      width: 480px;
      grid-template-columns: repeat(4, auto);
      justify-items: center;
    }
  }