.nav {
  position: relative;
  /* allows child elements to be relatively (or absolutely?) positioned */
  background-color: #545871;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
}

.nav__menu-container {
  /* background-color: red; */
  position: absolute;
  top: 140px;
  left: 25%;
  width: 50%;
  min-height: 200px;
  /* display: flex;
  flex-direction: column; */

  /* justify-content: space-between; */
  /* vertical-align: center; */
}

.nav__main-menu {
  text-align: left;
  font-size: 1.3rem;
}

.nav__main-menu--active {
  color: #fff;
  font-weight: 500;
}

.nav__main-menu--inactive {
  color: #9497a7;
  /* color: #dadbe7; */
  font-weight: 300;
}

.nav__bgnd-img--bottom {
  position: absolute;
  display: flex;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.nav__bgnd-img--central {
  margin-right: auto;
  margin-left: auto;
}

.nav__bgnd-img--right {
  margin-right: 0;
  margin-left: auto;
}
