.page-container {
  display: flex;
  /* flex allows the "nav" and "pet-form" areas to lay side-by-side, 4:6 ratio */
  /* width: 100vw; */
  /* height: 100vh; */
  min-height: 700px;
  min-width: 680px;
  /* margin: 0; */
}