:root {
    --lightPink: #FAECEB;
    --mediumPink: #E9DBDA;
    --mainPink: #F1CFCD;
    --deepPink: #C37D7B;

    --lightGrey: #F1F1F9;
    --mediumGrey: #DBDBE7;
    --mainGrey: #9497A8;
    --deepGrey: #535973;
}